<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <cpn></cpn>
        <cpn>
            <template slot-scope="languages">
                <span v-for="item in languages.data">{{item}} _</span>
            </template>
        </cpn>
    </div>
    <template id="cpn">
        <div>
            <h1>hello vue</h1>
            <slot :data="languages">
                <ul>
                    <li v-for="item in languages">{{item}}</li>
                </ul>
            </slot>     
        </div>
    </template>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const cpn = {
            template:'#cpn',
            data() {
                return {
                    languages:['JS','Java','C++']
                }
            },
        }
        const app = new Vue({
            el:'#app',
            components:{
                cpn
            }
        })
    </script>
</body>
</html>